	        <button id="greenButton" type="button" class="btn btn-success save">
				<span class="glyphicon glyphicon-ok" /> Save
			</button>
			<button id="redButton" type="button" class="btn btn-danger cancel">
				<span class="glyphicon glyphicon-remove-circle" /> Cancel
			</button>