  <div class="container">
  	  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="#">No Azul</span>
    </div>
     <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a id="finance-records" >Finance Records</a>
        </li>
      </ul>
       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
  	       <span class="glyphicon glyphicon-th"></span>        	           
  	       <input type="text" class="form-control" placeholder="Search" />
  	       <button type="button" class="btn btn-inverse">
         	  <span class="glyphicon glyphicon-search"></span> Search
           </button>
        </div>
      </form>
    </nav>
  </div>
