			<button id="greenButton" type="button" class="btn btn-success create">
				<span class="glyphicon glyphicon-plus" /> Create
			</button>
			<button id="redButton" type="button" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove" /> Delete
			</button>