<div class="modal-dialog modal-lg" >
	<div class="modal-content" >
		<div class="modal-header" >
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	 		<h1><%= title %></h1>
			</div>
		    <div class="modal-body">
			<div id="body" class="panel panel-primary">
			     <div class="panel-heading"><b><%= heading %></b></div>
			     <div id="content">
			     </div>
			</div>
			<div id="footer" class="modal-footer">
			</div>
		</div>
	</div>
</div>