<header class="navbar navbar-static-top navbar-inverse bs-docs-nav" role="banner">
  <div class="container">
  	  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" href="#">No Azul</span>
    </div>
     <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
  	       <span class="glyphicon glyphicon-th"></span>        	           
  	       <input type="text" class="form-control" placeholder="Search" />
  	       <button type="button" class="btn btn-inverse">
         	  <span class="glyphicon glyphicon-search"></span> Search
           </button>
        </div>
      </form>
    </nav>
  </div>
</header>
<div id="container" >
	<div class="modal show" id="myModal">
	<div class="modal-dialog" >
		<div class="modal-content" >
	<div class="modal-header" >
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h1>Your monthly statement:</h1>
    </div>
    <div class="modal-body">
	<div id="main" class="panel panel-primary">
    	<div class="panel-heading">Statement's list</div>	 
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger">
   <span class="glyphicon glyphicon-remove" /> Delete
</button>
	</div>
</div>
</div>
   </div>
</div>
</div>